.error {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 20rem;
    letter-spacing: 1rem;
    word-spacing: 1rem;
  }

  h2 {
    font-size: 5rem;
    letter-spacing: 1rem;
    word-spacing: 1rem;
  }
}
